* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;   
    display: flex;
}

#app {   
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 100vh;
    color: white;
}

.form-box {
    width: 330px;
    height: 330px;
    background-color: #264a60;
    border-radius: 10px;    
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.form-box i {    
    text-align: center;   
    font-size: 24px;
    line-height: 2;
}

.form-box label {    
    font-size: 18px;
    line-height: 2;
    font-weight: 600;
}

.form-box label input {
    letter-spacing: 1px;
    color: #323232;
    font-size: 18px;
    width: 100%;
    line-height: 1.8;
    font-weight: 600;
}    
.form-box button {
    font-size: 25px;
    margin-top: 10%;
    height: 45px;
    border: none;
    color: #323232;  
}
.form-box button:hover {
    cursor: pointer; 
    font-size: 22px;
    height: 45px;
    border: none;    
}
